body {
  font-family: Verdana;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

fieldset {
  border: 2px dotted blue;
  background-color: lightgreen;
  padding: 20px;
}

.titulo {
  font-weight: bold;
  text-decoration: underline;
}

label, input, select {
  display: block;
  margin-top: 10px;
  width: 100%;
}
